target/
!.mvn/wrapper/maven-wrapper.jar

*.log
*.log.*
*.gz
elk_storage/nodes/*
composer.*
composer_2.*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

